<nav class="top_menu">
    <ul>
      <li>
        <a href="/">Templete</a>
     </li>
     <li>
      <a href="/form">Upload your photos</a>
   </li>
     <li>
       <a href="/management">Manage Your Blogs</a>
    </li>
    </ul>
 </nav>